/*
Style Guide - Colours:
Primary (Dark Green): #053B06
Secondary (Light Green): #60935D
Contrast (Very Light Green): #E5F9E0
Accent #1 (Pastel Orange): #FFBFA0
Accent #2 (Pastel Purple): #E9D6EC
*/

/* Global Tags */

*{
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #000;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1{
    font-size: 2.75em;
    font-weight: 700;
}

h2{
    font-size: 2.25em;
    font-weight: 700;
}

h3{
    font-size: 1.75em;
    font-weight: 400;
}

h4{
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: #E9D6EC;
    text-decoration: none;
}

a:visited {
    color: #FFBFA0;
}

a:active {
    color: #E9D6EC;
}

a:hover,
a:focus {
    color: #053B06;
    text-decoration: underline;
}


header {
    background-color: #60935D;
    padding: 10px;
    margin: 0 10px;
    border-bottom: 3px solid #000;
    text-align: center;
    box-shadow: 0px 6px 5px 0px rgba(50, 50, 50, 0.75);
    position: relative;
}


/* Layout */

nav > ul {
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}

nav > ul > li > a:hover {
    color: #E9D6EC;
    text-decoration: none;
}

nav > ul > li > a:visited {
    color: #FFBFA0;
    text-decoration: none;
}

nav > ul > li > a:active {
    color: #E9D6EC;
    text-decoration: none;
}

nav {
    display: inline-block;
    width: 100%;
}

.button {
    display: inline-block;
   background-color: #60935D;
   color: #ffffff;
   font-weight: 400;
   padding: 10px;
   border-radius: 3px;
   border-bottom: 2px solid #053B06;
   transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

.button.contact {
    background-color: transparent;
    color: #60935D;
    text-transform: uppercase;
    border: 2px solid #053B06;
}

.button.contact:hover {
    background-color: #60935D;
    color: #ffffff;
}

/* Layout Styling */

.container {
    padding: 0 10px;
}

#work .row {
    margin: 25px 0; 
    padding-bottom: 25px; border-bottom: 1px solid #000;
}

#hero h1 {
    text-align: center;
    margin: 0;
    padding: 0.67em 0;
}

#logo {
    max-width: 202px;
}


#hero {
    background-color: #60935D;
}

